<h3>
  Post details:
</h3>
<p>
  <%= @row['content'] %>
  <br>
  <br>
  Added at <%= @row['created_date']%>
</p>
<h4>
  Comments:
</h4>
<p>
<form action="<%= @row['id'] %>" method="POST" role="form">
  <textarea name="content" class="form-control" rows="6" placeholder="type comment text here"></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>
